/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');
/* End Fonts */

* {
    margin: 0px;
    padding: 0px;
}

.container-content-login {
    width: 50%;
    height: 99%;
}

.content-login {
    width: 50%;
    height: 10%;

    position: absolute;
    top: 19%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.image-logo-login {
    width: 60px;
    height: 60px;

    position: relative;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.h1-principal {
    text-align: center;
    font-family: "Jura", sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linha-separadora-login {
    width: 35%;
    color: white;
    border-bottom: 1px solid black;
    padding-top: 70px;

    position: absolute;
    top: 22%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.h2-logar {
    color: #09A6A3;
    font-family: "Jura", sans-serif;
    font-size: 30px;
    font-weight: 700;

    position: absolute;
    top: 34%;
    left: 13%;
    transform: translate(-50%, -50%);
}

.p1-form-email-login {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 700;

    position: absolute;
    top: 42%;
    left: 9.5%;
    transform: translate(-50%, -50%);
}

.input-email-login {
    width: 440px;
    height: 32px;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 4px;

    position: absolute;
    top: 48%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.input-email-login::placeholder {
    color: rgb(147, 147, 147);
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.p2-form-pass-login {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 700;

    position: absolute;
    top: 55%;
    left: 9.5%;
    transform: translate(-50%, -50%);
}

.input-pass-login {
    width: 440px;
    height: 32px;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 4px;

    position: absolute;
    top: 62%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.input-pass-login::placeholder {
    color: rgb(147, 147, 147);
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.button-login {
    background-color: #09A6A3;
    color: #ffffff;
    width: 170px;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    border: none;
    border-radius: 4px;

    position: absolute;
    top: 74%;
    left: 14%;
    transform: translate(-50%, -50%);  
}

.button-login:hover {
    background-color: #0a8886;
    color: #ffffff;
    transition: 0.4s; 
    cursor: pointer;
}

.p-other-option-login {
    width: 300px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 300;

    position: absolute;
    top: 74%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.p-other-option-login a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #076d6b;
} 

.container-images-login {
    width: 50%;
    height: 102%;
    background-color: #00CCBE;

    position: absolute;
    top: 49%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.profissionais-saude-login {
    width: 450px;
    height: 450px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
