.greeting-search-content {
    width: 50%;
    height: 30px;

    /* border: 1px solid black; */

    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.greeting-h2-search-content {
    font-family: "Inter", sans-serif;
    font-size: 24px;

    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translate(-50%, -50%);
}

.name-of-user-search-content {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #09A6A3;
}

.greeting-h2-search-content-nt {
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

/* Content Bar */

.search-bar-search-content {
    height: 35px;
    width: 70%;

    position: absolute;
    top: 27%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.input-search {
    height: 30px;
    width: 80%;
    padding-left: 10px;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 4px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    word-spacing: 1.3;

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.input-search::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    word-spacing: 1.3;
} 

.button-submit-search-bar-content {
    width: 0;
    height: 0;
    opacity: 0; 
    border: none;
    background: none; 
    cursor: pointer; 
}

.specializations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    justify-content: flex-start;

    border: 1px solid black;
    width: 80%;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.specialization-card {
    min-width: 110px; /* Define um tamanho mínimo para botões menores */
    height: auto; /* Permite que a altura se ajuste ao conteúdo, se necessário */
    border-radius: 6px;
    background-color: #dfdfdf;
    position: relative;
    display: inline-flex; /* Inline-flex para ajustar ao conteúdo e permitir alinhamento */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-decoration: none;
    padding: 5px 10px; /* Adiciona um espaço extra ao redor do conteúdo */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

.specialization-card:hover {
    background-color: #cccccc;
}

.specialization-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0; /* Garante que o ícone não encolha */
}

.specialization-name {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #999999;
    flex-shrink: 1; /* Permite que o texto se ajuste */
}