{% load static  %}

<div class="greeting-search-content">
    {% if user.is_authenticated %}
        <h2 class="greeting-h2-search-content">Olá, <span class="name-of-user-search-content">{{ username_formatted }}</span>.</h2> 
    {% else %}
        <h2 class="greeting-h2-search-content-nt">Olá Paciente, faça login para ver as suas consultas.</h2> 
    {% endif %}
</div>
<div class="search-bar-search-content">
    <form method="get" action="">
        <input 
            type="text" 
            name="search" 
            placeholder="Busque por profissionais." 
            class="input-search" 
            value="{{ query }}"
        >
        <button type="submit" class="button-submit-search-bar-content">Buscar</button>
    </form>
</div>
<div class="specializations-list">
    {% for specialization in specializations %}
        <a href="?specialization={{ specialization.id }}" class="specialization-card">
            {% if specialization.icon %}
                <img 
                    src="{{ specialization.icon.url }}" 
                    alt="icon-{{ specialization.name|lower }}" 
                    class="specialization-icon">
            {% else %}
                <p class="no-icon">Sem ícone</p>
            {% endif %}
            <p class="specialization-name">{{ specialization.name }}</p>
        </a>
    {% endfor %}
</div>