{% load static %}

<div class="container-register">
    <h1 class="h1-register-doctor">Cadastrar Médico</h1>
    <div class="form-register">
        <span class="span-crm">CRM:</span>
        <input type="text" placeholder="CRM:" class="crm-input">
        <span class="span-cdim">Cédula de identidade médica</span>
        <label class="crm-input-file-label" for="customFileInput" id="customFileLabel">Escolher arquivo</label>
        <input type="file" id="customFileInput" class="crm-input-file">
        
        <span class="span-complete-name">Nome Completo:</span>
        <input type="text" class="input-complete-name" placeholder="Nome completo">
        <span class="span-cep">CEP:</span>
        <input type="text" class="input-cep" placeholder="CEP">

        <span class="span-address">Rua:</span>
        <input type="text" placeholder="Endereço" class="input-address">

        <span class="span-neighborhood">Bairro</span>
        <input type="text" placeholder="Bairro" class="input-neighborhood">
        <span class="span-number">Número:</span>
        <input type="text" class="input-number" placeholder="Número">
        
        <span class="span-rg">RG:</span>
        <input type="text" placeholder="RG" class="input-rg">

        <span class="span-profile-pic">Foto do Perfil</span>
        <label class="profile-pic-input-file-label" for="customFileInput_2" id="customFileLabel_2">Escolher arquivo</label>
        <input type="file" id="customFileInput_2" class="profile-pic-input-file">

        <button class="button-register-doctor">Cadastrar</button>
    </div>
</div>