{% extends 'global/base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container-left">
        <div class="content-main-form">
            <div class="container-1">
                <img src="{% static 'sgcm/images/login/logo-image.png' %}" alt="image-logo" class="image-logo">
                <h1 class="h1-principal">ConsultaFácil</h1>
            </div>
            <h1 id="linha-separadora"></h1>
            <h2 class="h2-logar">Logar-se</h2>
            <div id="container-2">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <p class="p1-form-email">E-mail</p>
                    {% comment %} <input type="email" placeholder="email@email.com" class="input-email-login"> {% endcomment %}
                    <input type="text" placeholder="usuario teste" class="input-email-login" name="username">
                    <p class="p2-form-pass-login">Senha</p>
                    <input type="password" placeholder="Digite sua senha" class="input-pass-login" name="senha">
                    <input type="submit" value="Logar"     class="button-register">
                </form>
            </div>
            <div id="container-3-login">
                {% comment %} <a href="home.html">
                    <input type="submit" value="Logar"     class="button-register">
                </a> {% endcomment %}
                <p class="p-other-option">Não possui uma conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
            </div>
        </div> 
    </div>
    <div class="container-images">
        <img src="{% static 'sgcm/images/login/pessoas-saude.png' %}" alt="imagem de pessoas da area de saúde" class="profissionais-saude">
    </div>

{% endblock %}