/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* End of Fonts*/

* {
    margin: 0px;
    padding: 0px;
}

.container-header {
    height: 4em;
    width: 100%;

    background-color: #00CCBE;
}

/* Contents */

.content-left {
    width: 40%;
    height: 50px;

    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.content-right {
    width: 40%;
    height: 50px;

    position: relative;
    top: -32%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* End of Contents */

/* Header */

.logo-header {
    width: 60px;
    height: 60px;

    position: relative;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
}

a { /* Esse A aqui é o link do header*/
    text-decoration: none;
}

.h1-name-logo {
    font-size: 20px;
    font-family: "Jura", sans-serif;
    color: white;

    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.h1-explorar-header {
    font-size: 18px;
    font-family: "Jura", sans-serif;
    color: white;

    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.content-notification {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.notification-header-image {
    width: 30px;
    height: 30px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-manage-account {
    width: 130px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
}

.manage_accounts_image {
    width: 30px;
    height: 30px;

    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.h1-perfil-header {
    width: 95px;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    color: white;

    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

/* end of Header*/

/* MiniMap */

.container-minimap {
    height: 25px;
    width: 80%;

    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mini-map-home {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: rgb(177, 177, 177);

    position: absolute;
    top: 40%;
    left: 2%;
    transform: translate(-50%, -50%);
}

.barra-separadora {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: rgb(177, 177, 177);

    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.mini-map-name-doctor {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: rgb(177, 177, 177);

    position: absolute;
    top: 40%;
    left: 13%;
    transform: translate(-50%, -50%);
}

.barra-separadora-2 {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: rgb(177, 177, 177);

    position: absolute;
    top: 40%;
    left: 21%;
    transform: translate(-50%, -50%);
}

.mini-map-name-doctor-2 {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: rgb(177, 177, 177);

    position: absolute;
    top: 40%;
    left: 28.5%;
    transform: translate(-50%, -50%);
}

.linha-separadora {
    border-bottom: 1px solid rgb(177, 177, 177);

    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End of MiniMap */

/* Info Doctor */

.container-info-doctor {
    width: 80%;
    height: 30%;

    /* border: 1px solid black; */

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.picture-doctor {
    width: 170px;
    height: 170px;

    border-radius: 100px;
    border: 1px solid black;

    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
}

.h2-name-doctor {
    font-size: 25px;
    font-family: "Inter", sans-serif;

    position: absolute;
    top: 20%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.verify-doctor {
    width: 30px;
    height: 30px;
    font-family: "Inter", sans-serif;

    position: absolute;
    top: 20%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.p-info-doctor {
    width: 265px;
    height: 40px;
    font-family: "Inter", sans-serif;
    font-size: 17px;

    position: absolute;
    top: 40%;
    left: 31%;
    transform: translate(-50%, -50%);
}

.h2-date {
    font-family: "Inter", sans-serif;
    font-size: 17px;

    position: absolute;
    top: 75%;
    left: 34%;
    transform: translate(-50%, -50%); 
}

.button-rate {
    width: 170px;
    height: 35px;
    background-color: #00CCBE;
    border: none;
    border-radius:4px;
    color: white;
    font-size: 17px;
    font-family: "Inter", sans-serif;

    position: relative;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.button-rate:hover {
    background-color: #068a82;
    transition: 0.4s;
    cursor: pointer;
    
}

.linha-separadora-2 {
    border-bottom: 1px solid rgb(177, 177, 177);
    width: 535px;

    position: relative;
    top: 85%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/* End of Info Doctor */

/* Check Consultation */

.container-details {
    width: 80%;
    height: 500px;

    border: 1px solid black;

    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h1-container-details {
    font-family: "Inter", sans-serif;
    font-size: 25px;

    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.check-consultation {
    width: 65%;
    height: 40px;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.verification-1 {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);
}

.p-container-details-1 {
    font-family: "Inter", sans-serif;
    font-size: 14px;

    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.verification-2 {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.p-container-details-2 {
    font-family: "Inter", sans-serif;
    font-size: 14px;

    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.verification-3 {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
}

.p-container-details-3 {
    font-family: "Inter", sans-serif;
    font-size: 14px;

    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
}

/* End of Check Consultation */

/* Content Details */

.content-details {
    width: 80%;
    height: 200px;
    border: 1px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendar {
    width: 25px;
    height: 25px;

    position: absolute;
    top: 10%;
    left: 2%;
    transform: translate(-50%, -50%);
}

/* End of Content Details */